= text_field_tag nil, nil, placeholder: "Filter Documents", data: { target: "documents" }, class: 'filter-field'

.button-group
  = link_to "With You", "#", class: "button"
  = link_to "Completed", "#", class: "button"
  = link_to "Rejected", "#", class: "button"