.tracking-number
  display: inline-block
  vertical-align: top
  font: bold 1.2rem/2.9rem "Open Sans", "OpenSansRegular"
  text-transform: uppercase
  text-align: center
  color: #333333
  background-color: #ff9800
  border-radius: 2px
  padding: 0 8px
  margin: 5px 0 0 10px

.documents.index
  
  .list-item
    padding-left: 65px

  .tracking-number
    position: absolute
    top: 7px
    left: 15px
    width: 60px
    line-height: 1.8 
    padding: 0 5px
    margin: 0