.tracking-number
  display: inline-block
  vertical-align: top
  font: bold 1.2rem/2.9rem "Open Sans", "OpenSansRegular"
  text-transform: uppercase
  text-align: center
  color: #333333
  background-color: #ff9800
  border-radius: 2px
  padding: 0 8px
  margin: 5px 0 0 10px

.documents.index
  
  .item-label
    padding-left: 80px

  .tracking-number
    position: absolute
    top: 7px
    left: 15px
    width: 60px
    line-height: 1.8 
    padding: 0 5px
    margin: 0
    
.documents.show

  .button
    vertical-align: top
  
  .page > form
    margin-left: 1px
    
  table td

    > .button
      width: 100%
      margin-top: 3px
      
      &:first-of-type
        margin-top: 0 
        
    .button-group
      margin-bottom: 3px
      
      .button:first-of-type
        width: 100%
        
    form.button-group.split-dropdown
      padding-right: 2rem
      position: relative
      
      .dropdown-trigger
        position: absolute
        top: 0
        right: 0
        bottom: 0
        height: 100%
        
    .item-badge
      margin-left: 10px 
      

  .comment
    padding: 15px

    header
      margin-bottom: 10px

      .pill-button
        vertical-align: top
        margin-left: 3px

      .comment-meta
        float: right
        margin-top: 1px

        time
          display: inline-block
          vertical-align: top
          font-size: 1.2rem
          color: #777777

    h5
      display: inline-block
      font-size: 1.4rem

    p
      color: #333333